.gauge {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: @color-secondary-2-0;

  .content {
    margin: auto;
  }

  .ct-chart {
    position: absolute;
    top: 10%;
    right: 5%;
    bottom: -8%;
    left: 5%;

    svg {
      overflow: visible;
    }

    .ct-slice-donut {
      stroke-width: 9% !important;
    }

    @media only screen and (max-device-width: 1300px) {
      .ct-slice-donut {
        stroke-width: 7% !important;
      }
    }
  }

  .name {
    padding-top: 60px;
  }

  .unit,
  .name {
    .title();

    position: relative;
    z-index: 1;
  }

  .value {
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 70px;
    font-weight: bold;
    display: inline;
    color: white;
  }

  .footer {
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 10px;
    color: @color-secondary-2-1;
  }

  .gauge-fill path {
    stroke: @color-secondary-2-1;
    stroke-linecap: round;
  }

  .gauge-empty path {
    stroke: @color-secondary-2-4;
    stroke-linecap: round;
  }
}
